<div class="about_us_page">
	<div class="container">

		{% if page.content.size > 0 %}
			<div class="rte">
				{{ page.content }}
			</div>
		{% endif %}

	</div>
	{% section 'index-slideshow' %} 
		<div class="container"><h3>Best Clean Multipurpose Shopify Theme for Your Site
	</h3></div>
	<div class="container">
		{% section 'index-image-with-text_1' %}
	<h3>Apparelix Theme Powerful Design Options

	</h3>
		{% section 'index-image-with-text_2' %}
	<h3>Best Clean Multipurpose Shopify Theme for Your Site

	</h3>
		{% section 'index-image-with-text_3' %}
	<h3>Best Clean Multipurpose Shopify Theme for Your Site
	</h3>
		{% section 'index-image-with-text_4' %}
	<h3>Meet Apparelix - clean multipurpose Shopify theme
	</h3>
		{% section 'index-image-with-text_5' %}

		{% section 'index-custom-content' %}
		
</div>
